<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>59238513503-di64ot5hj3dooba00met19ieu95scm40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.59238513503-di64ot5hj3dooba00met19ieu95scm40</string>
	<key>API_KEY</key>
	<string>AIzaSyBrmumEuWSD4keqEZda_BqNOk51abDNee8</string>
	<key>GCM_SENDER_ID</key>
	<string>59238513503</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.identidaddigital</string>
	<key>PROJECT_ID</key>
	<string>app-carnet-digital</string>
	<key>STORAGE_BUCKET</key>
	<string>app-carnet-digital.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:59238513503:ios:14076792ee528fb44dd4ea</string>
	<key>DATABASE_URL</key>
	<string>https://app-carnet-digital.firebaseio.com</string>
</dict>
</plist>